<script src="https://kit.fontawesome.com/1080f5a750.js" crossorigin="anonymous"></script>
<div class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
        <div class="container">
            <div class="d-flex justify-content-between footer">
                <div class="footer_left">
                    <span>Privacy</span>
                </div>
                <div class="footer_center">
                    <span>2020, Evgenii Amosov</span>
                </div>
                <div class="footer_right">
                    <span>Follow</span>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-vk"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

